.sociaux a,
.conseil i {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
.sociaux a:hover,
.conseil i:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.menu a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.menu a:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.card::before,
.card::after {
  content: "";
  width: 0;
  height: 5px;
  position: absolute;
  transition: all 0.2s linear;
  background: #5a3261;
}

.card a::before,
.card a::after {
  content: "";
  width: 5px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #5a3261;
}
.card:hover::before,
.card:hover::after {
  width: 90%;
}
.card:hover a::before,
.card:hover a::after {
  height: 90%;
}

.card::before {
  left: 50%;
  top: 10px;
  transition-duration: 0.4s;
}
.card::after {
  left: 50%;
  bottom: 10px;
  transition-duration: 0.4s;
}
.card a::before {
  left: 20px;
  top: 50%;
  transition-duration: 0.4s;
}
.card a::after {
  right: 23px;
  top: 50%;
  transition-duration: 0.4s;
}
.card:hover::before,
.card:hover::after {
  left: 20px;
}
.card:hover a::before,
.card:hover a::after {
  top: 13px;
}
