body {
  overflow-x: hidden;
  height: 100%;
}
.cookie {
  width: 100%;
  background-color: #fff;
  height: 75px;
  position: fixed;
  z-index: 10;
  top: 785px;
  display: flex;
  font-size: x-small;
  justify-content: space-around;
  align-items: center;
}
.size {
  font-size: x-small !important;
}
.cookieErase {
  display: none;
}
.container-fluid {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid > .row {
  padding: 0;
}
.container-fluid > .row > div {
  padding: 0;
}
.laptop-tablet {
  display: none;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6%;
}
.round {
  height: 10px;
  width: 10px;
  border-radius: 25px;
}

.red {
  background-color: #a73632 !important;
  color: #fff !important;
}
.blue {
  background-color: #5855c7 !important;
  color: #fff !important;
}
.green {
  background-color: #71d243 !important;
  color: #fff !important;
}
.purple {
  background-color: #5a3261 !important;
  color: #fff !important;
}

.menu {
  display: flex;
  align-items: center;
}
.sociaux {
  display: flex;
  justify-content: space-evenly;
}
.sociaux a img {
  margin-top: 10px;
  width: 25px;
  height: 25px;
}
.carousel-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #edb542;
  width: 100%;
  margin-top: 25px;
}
.carousel {
  height: 150px;
  width: 100%;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}
.btn-individual {
  display: flex;
  flex-direction: column;
  margin: 25px 0 25px 0;
  align-items: center;
}
.btn-danger {
  background-color: #a73632 !important;
  border-color: #a73632 !important;
  border-radius: 25px !important;
  box-shadow: 5px 5px 4px #bdb4b4;
}
.btn-warning {
  background-color: #edb542 !important;
  border-color: #edb542 !important;
  border-radius: 25px !important;
  color: #fff !important;
  box-shadow: 5px 5px 4px #bdb4b4;
}
.conseil {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.conseil p {
  font-size: small;
}
.fas {
  padding: 25px;
  margin-bottom: 5px;
  color: #fff;
  font-size: xx-large;
}
.card-lien {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  border: 2px solid #edb542;
}
.btn-contact {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.coupure {
  height: 25px;
  width: 100%;
  background-color: #edb542;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  justify-content: center;
}
.centerLien {
  display: flex;
  flex-direction: column;
}
.contact {
  margin: 25px 0 25px 0;
}
.displayTablet {
  display: none;
}
.row-contact {
  margin-top: 25px !important;
}
.row-contact div a,
.row-contact div p {
  font-size: xx-small;
  margin: 0;
  text-decoration: none;
  color: black;
}
.imgFluid {
  width: 100%;
}
.flexForm {
  display: flex;
  flex-direction: column;
}
label {
  text-decoration: underline;
  margin: 5px 0 5px 0;
}
input {
  padding-left: 10px;
}
.contactBannerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video {
  height: 250px;
}
.btn-video {
  margin-bottom: 25px;
}

.marginTB {
  margin-bottom: 50px;
  margin-top: 50px !important;
  overflow: hidden;
}
.auto-resizable {
  max-width: 890px;
  margin: 0 auto;
  padding: 10px;
}
.auto-resizable div {
  position: relative;
  padding-bottom: 65%;
  height: 0;
}
.auto-resizable iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.coupureServ {
  width: 45% !important;
  height: 3px;
  background-color: black;
}
.imgCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 0 !important;
  border: 5px solid #5a3261 !important;
  border-radius: 50px !important;
  box-shadow: 10px 10px 12px rgb(202, 189, 189),
    -10px -10px 12px rgb(202, 189, 189);
}
.wBack {
  background-color: rgba(128, 128, 128, 0.075);
  padding: 25px 0 25px 0;
}
.wBackDarker {
  background-color: rgba(128, 128, 128, 0.178);
  padding: 25px 0 25px 0;
}
.wBack a {
  text-decoration: none;
  color: black;
}
.wBackDarker a {
  text-decoration: none;
  color: black;
}
.mailto {
  color: black;
  text-decoration: none;
}
.mailto:hover {
  color: #71d243;
}
.error input {
  color: red;
  border: 5px solid red;
}
.error span {
  visibility: visible;
  opacity: 1;
  color: rgb(255, 0, 0);
}
.pubLock {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 576px) {
  .laptop-tablet {
    display: grid;
  }
  .phone {
    display: none;
  }
  .display-menu {
    flex-direction: row;
    padding-left: 5px;
    width: 100%;
  }
  .display-menu > .menu > a {
    padding-right: 0;
    padding-left: 5px;
    color: white;
  }
  .dropdown > button {
    color: white;
  }
  .dropdown-menu {
    background-color: #edb542 !important;
  }
  .villeColor {
    background-color: #a73632 !important;
  }

  .dropdown-item {
    color: white !important;
  }
  .dropdown-item:hover {
    background-color: #cf992bb7 !important;
  }
  .villeItemColor:hover {
    background-color: #da443f !important;
  }
  .banner {
    background-color: #edb542;
    height: 75px;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
  }
  .sociaux a img {
    width: 35px;
    height: 35px;
  }
  .border {
    display: none;
  }
  .btn:hover {
    color: white !important;
  }
  .carousel-container {
    background-color: white;
  }
  .carousel {
    height: 300px;
    width: 82%;
    padding: 10px;
    border-radius: 15px;
    background-color: #edb542;
  }
  .carousel-item a img {
    border-radius: 15px;
  }
  .h-top {
    height: 200px;
  }
  .btn-video {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .btn-video h3 {
    font-size: larger;
    margin-bottom: 25px;
  }
  .video {
    width: 50%;
  }
  .centerLien {
    flex-direction: row;
  }
  .conseil {
    height: 250px;
    margin-top: 40px !important;
  }
  .imgFluid {
    width: 70%;
  }
  .flex-end {
    display: flex;
    justify-content: flex-end;
  }
  .copyright {
    width: 60%;
  }
  .videoClap {
    height: 350px;
  }
  .cookie {
    top: 792px;
    height: 50px;
  }
}

@media screen and (min-width: 769px) {
  .display-menu > .menu > a {
    font-size: larger;
  }
  .displayPhone {
    display: none;
  }
  .displayTablet {
    display: block;
    font-size: x-large;
  }
  .h-top {
    height: 300px;
  }
  .dropdown > button {
    font-size: larger;
  }
  .conseilTxt h6 {
    font-size: larger;
  }
  .conseilTxt p {
    font-size: medium;
  }
  .sociaux a img {
    width: 50px;
    height: 50px;
  }
  .round {
    height: 20px;
    width: 20px;
  }
  .dropdown-menu > a {
    font-size: larger;
  }
  .carousel {
    height: 450px;
  }
  .btn-video {
    justify-content: space-around;
  }
  .row div p {
    font-size: larger;
  }
  .videoClap {
    height: 450px;
  }
}

@media screen and (min-width: 1025px) {
  .display-menu > .menu > a {
    font-size: x-large;
  }
  .h-top {
    height: 500px;
  }
  .dropdown > button {
    font-size: x-large;
  }
  .dropdown-menu > a {
    font-size: x-large;
  }
  .sociaux a img {
    width: 100px;
    height: 100px;
  }
  .carousel {
    height: 600px;
    width: 70%;
  }
  .btn-individual {
    font-size: larger;
  }
  .btn-individual > a {
    font-size: larger;
  }
  .btn-video {
    height: 400px;
    justify-content: center;
    margin-bottom: 100px !important;
  }
  .btn-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .video {
    width: 35%;
    height: 400px;
  }
  .videoClap {
    height: 500px;
    width: 60% !important;
  }
  .order-sm-3 {
    margin: 50px 0 50px 0 !important;
  }
  .row-contact div a,
  .row-contact div p {
    font-size: medium;
  }
  .cookie {
    top: 890px;
  }
}
