/** Font **/

@font-face {
  font-family: Lato;
  src: url("../font/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../font/Lato-Light.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../font/Lato-Bold.ttf");
}

/** Body general **/

body {
  max-width: 425px;
}

/** Header **/

/** Menu **/

* {
  font-family: Lato;
}
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.header img {
  width: 30%;
  object-fit: cover;
}
.header .menu .title a span,
.header .menu .title nav ul li span {
  font-family: LatoBold;
  font-size: 14px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  position: sticky;
}
.title {
  text-align: center;
  border-bottom: 1px solid black;
}

/** Suppresion du visuel hypertexte **/

.title a,
.container button a {
  text-decoration: none;
  color: black;
}

/** Social media **/

.sociaux {
  width: 100%;
  background-color: #edb542;
  display: flex;
  justify-content: space-evenly;
}
.sociaux img {
  margin: 10px 0px;
  width: 25px;
  height: 25px;
}

/** Body **/

/** En-tête **/

.banniere {
  width: 100%;
  height: 125px;
}
.banniere img {
  width: 100%;
  height: 100%;
}
.btnContainer {
  display: flex;
  margin-bottom: 25px;
}
.container {
  width: 50%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container h4 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  text-decoration: underline;
}
.container button {
  background-color: #edb542;
  border: none;
  width: 85px;
  height: 30px;
  border-radius: 35px;
  box-shadow: 5px 5px 4px grey;
}
.container button a {
  color: white;
}

/** Bannière mid-page **/

.accroche {
  display: none;
}

/** Actu **/

.actuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actuContainer h1 {
  text-decoration: underline;
}
.actu {
  background-color: #edb542;
  margin: 25px 0px;
}
.actu article {
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.actu h3 {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.actu .actuTxt {
  width: 90%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
}
.actu .bubble {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.actu div img {
  width: 30%;
  height: 90%;
  margin-left: 5px;
  margin-right: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}
.actu div p {
  width: 70%;
  height: 90%;
  overflow: hidden;
}
.actu div .hidden {
  display: none;
}

/** Facebook Widget **/

.facebookWidget {
  width: 100%;
  height: 750px;
  background-color: #edb542;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.facebookWidget img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/** Liens **/

.liens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.liens .lienLogo {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid grey;
  box-sizing: border-box;
}
.liens p {
  width: 100%;
  display: flex;
  justify-content: center;
}
.liens h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  text-decoration: underline;
}
.liens img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** Footer **/

.btnContact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}
.btnContact button {
  background-color: #edb542;
  color: white;
  border: none;
  width: 85px;
  height: 30px;
  border-radius: 35px;
  box-shadow: 5px 5px 4px grey;
}
.separation {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 15px;
}

.banniereContact {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banniereContact img {
  width: 95%;
}
.banniereContact h2 {
  display: none;
}
.infoSite {
  display: flex;
  justify-content: space-around;
}
.infoSite h4 {
  font-family: LatoLight;
  font-size: 10px;
  width: 25%;
}
.infoSite img {
  width: 30%;
}

/********************************************************/

/** MediaQuerry **/

/** Tablette **/

@media screen and (min-width: 426px) {
  body {
    max-width: 768px;
  }
  .header .menu .title a span,
  .header .menu .title nav ul li span {
    font-size: 20px;
  }
  .sociaux img {
    width: 40px;
    height: 40px;
  }
  .banniere {
    height: 250px;
  }
  .container h4 {
    font-size: 20px;
  }
  .container button {
    width: 135px;
    height: 50px;
  }
  .container button a {
    font-size: 20px;
  }
  .actu h3 {
    font-size: 24px;
  }
  .actu div img {
    height: 95%;
  }
  .actu div p {
    font-size: 20px;
  }
  .facebookWidget {
    width: 70%;
    height: 1050px;
    border-radius: 25px;
  }
  .facebookWidget img {
    width: 100%;
    height: 90%;
  }
  .liens p {
    font-size: 20px;
  }
  .liens h3 {
    font-size: 20px;
  }
  .liens a {
    width: 100%;
  }
  .btnContact button {
    width: 135px;
    height: 50px;
    font-size: 20px;
  }
  .infoSite h4 {
    font-size: 20px;
  }
}

/** Desktop **/

@media screen and (min-width: 769px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  header {
    width: 100%;
  }
  .banniere {
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .header .menu .title a span,
  .header .menu .title nav ul li span {
    font-size: 34px;
  }
  .sociaux img {
    width: 70px;
    height: 70px;
    margin: 25px 0px;
  }
  .container h4 {
    font-size: 34px;
    margin-bottom: 25px;
  }
  .container button {
    width: 200px;
    height: 70px;
  }
  .container button a {
    font-size: 28px;
  }
  .btnContainer {
    margin-bottom: 50px;
    height: 150px;
  }
  .accroche {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edb542;
    width: 95%;
    border-radius: 25px;
    height: 100px;
    color: white;
    font-size: 28px;
    padding: 0px 0px 0px 10px;
  }
  .actuContainer {
    flex-direction: row;
    flex-wrap: wrap;
    height: 1050px;
    justify-content: space-around;
  }
  .actu {
    width: 45%;
    height: 90%;
    border-radius: 25px;
    margin: 0;
  }
  .actu article {
    height: 44%;
    margin-bottom: 30px;
  }
  .actu .actuTxt {
    height: 95%;
    align-items: flex-start;
    padding: 10px 5px 0px 5px;
    flex-wrap: wrap;
  }
  .actuContainer h1 {
    width: 100%;
    padding: 0px 0px 0px 30px;
  }
  .actu div img {
    height: 50%;
    width: 45%;
    border-radius: 25px;
  }
  .actu div p {
    font-size: 24px;
    width: 45%;
    height: 50%;
  }
  .actu .bubble {
    padding: 10px 0px;
  }
  .actu div .hidden {
    width: 100%;
    display: flex;
  }
  .facebookWidget {
    width: 45%;
    height: 90%;
    margin: 0;
  }
  .liens p {
    font-size: 36px;
  }
  .liens h3 {
    font-size: 36px;
    margin-top: 25px;
  }
  .liens a {
    width: 100%;
  }
  .btnContact button {
    display: none;
  }
  footer {
    width: 100%;
  }
  .banniereContact {
    justify-content: space-evenly;
    align-items: center;
  }
  .banniereContact h2 {
    display: block;
    text-decoration: underline;
  }
  .banniereContact img {
    width: 70%;
  }
  .infoSite h4 {
    font-size: 20px;
  }
}
