/** Menu **/
/* 
* {
  margin: 0;
  padding: 0;
}
.menu {
  width: 100%;
  margin: 0 auto;
  position: sticky;
}
.title {
  width: 25%;
  text-align: center;
  border-bottom: 1px solid #5a3261;
}
.title a {
  text-decoration: none;
} */
/** Social media **/
/* .sociaux {
  width: 100%;
  background-color: #edb542;
  display: flex;
  justify-content: space-evenly;
} */
